md-toolbar.md-menu-toolbar
  div(layout='row')
    md-toolbar-filler(layout='', layout-align='center center')
      //- md-icon(md-svg-icon='call:chat')
    div
      h2.md-toolbar-tools {{ jobProgress }}%

ui-view
